server:
  port: 9090
management:
  port: 9091
security:
  user:
    name: admin
    password: adminadmin
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/stsc-pentasys/configurations
          basedir: target/config
        health:
          repositories:
            sessionmanager:
              label: master
              profiles: development
          enabled: true

endpoints:
  metrics:
    sensitive: false
  health:
    sensitive: false
logging:
  level:
    org:
      springframework:
        cloud:
          config: DEBUG
